@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(43px + 15px);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100%;
}

a {
  color: unset;
  text-decoration: unset;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  color: white;
  padding: 15px;
  z-index: 2;
  transition: background-color 0.5s;
}

header > div.header-wrapper {
  max-width: 1000px;
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  transition: row-gap 1s;
}

@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header > div.header-wrapper > nav {
  animation: animation 1s;
}

header > div.header-wrapper > nav > ul {
  display: grid;
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
  gap: 5em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

header > div.header-wrapper > nav > ul > li {
  list-style-type: none;
  border-bottom: 1px solid white;
  padding-right: 5px;
  letter-spacing: 2px;
  transition: color 0.5s;
}

.logo {
  display: flex;
  gap: 10px;
}

span.logo-image {
  background-image: url(images/logo-image.png);
  height: 43px;
  width: 43px;
}

span.logo-text {
  background-image: url(images/logo-text.png);
  height: 43px;
  width: 110px;
}

header .logo-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(225, 225, 225, 0);
  transition: box-shadow 1s;
}

header .logo-text {
  opacity: 0;
  transition: opacity 0.5s;
  width: 0;
}

header.scrolled {
  background-color: white;
  color: #404f6c;
}

header.scrolled .logo-image {
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(225, 225, 225, 1);
}

header.scrolled .logo-text {
  opacity: 1;
  width: 110px;
}

header.scrolled > div.header-wrapper > nav > ul > li {
  border-bottom: 1px solid #404f6c;
}

div.banner {
  background: url(images/banner.png);
  background-repeat: no-repeat;
  padding-top: 95.06%;
  max-height: 1521px;
  background-size: cover;
  top: 0;
}

div.secondary-banner {
  background: url(images/secondary-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}

div.secondary-banner > div.history-heading-wrapper {
  color: #73829c;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: calc(95.06% / 2);
}

div.secondary-banner > div.history-heading-wrapper > div.history-heading {
  display: grid;
  grid-template-columns: max-content max-content;
  font-size: 2em;
  font-family: "Oswald";
  font-weight: bold;
}

div.secondary-banner
  > div.history-heading-wrapper
  > div.history-heading
  > .number {
  font-size: 4em;
}
div.secondary-banner
  > div.history-heading-wrapper
  > div.history-heading
  > .text {
  align-self: center;
  transform: translate(-26px, 16px);
  color: #414f6b;
}

div.secondary-banner > div.history-heading-wrapper > p {
  color: black;
  padding-left: 4em;
  margin-top: -2em;
}

div.carousel-wrapper {
  background-color: rgba(64, 79, 109, 0.5);
  padding: 20px;
}

div.carousel-selector {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(103px, 253px));
  place-items: center;
  place-content: center;
}

/* fix here */
div.carousel-selection > div {
  display: flex;
}

div.carousel-selector img {
  box-shadow: 0 0 10px #333;
  width: 100%;
  height: auto;
}

div.carousel-pager {
  display: flex;
  gap: 7px;
  padding: 10px;
  justify-content: center;
}

div.carousel-pager > div {
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  opacity: 0.5;
}
div.carousel-pager > div.active {
  opacity: 1;
}

.climb {
  background-color: #eee;
}

div.climb > div.climb-heading-wrapper {
  display: flex;

  max-width: 1000px;
  margin: 0 auto;
}

div.climb > div.climb-heading-wrapper > div.climb-heading {
  display: grid;
  font-size: 2em;
  grid-template-columns: max-content max-content;
  font-family: "Oswald";
  font-weight: bold;
}

div.climb > div.climb-heading-wrapper > div.climb-heading > .number {
  font-size: 4em;
  color: #b0b4be;
}

div.climb > div.climb-heading-wrapper > div.climb-heading > .text {
  align-self: center;
  transform: translateX(-26px) translateY(16px);
  color: #414f6b;
}

div.climb > div.climb-heading-wrapper > p {
  align-self: center;
}

div.mountains {
  background-color: rgba(64, 79, 109, 1);
  color: #b0b4be;
  font-family: "Oswald";
  font-weight: bold;
}

div.mountains > ul {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

div.mountains > ul > li {
  list-style-type: none;
  padding: 10px;
}

.schedules {
  background-image: url(images/climb.png);
  padding-bottom: 34.13%;
  max-height: 549px;
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 7.5em;
  padding-left: 1em;
}

.schedule {
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 360px;
  padding: 20px;
  display: grid;
  justify-content: center;
}

.schedule > h3 {
  font-family: "Oswald";
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.25em;
  color: #404f6c;
}

.schedule > table {
  border-spacing: 30px 0;
  margin-left: -30px;
  font-family: "Lato";
}

div.mountains > ul > li.active {
  background-color: #b0b4be;
  color: rgba(64, 79, 109, 1);
}

div.mountains > ul > li.active > span {
  border-bottom: 1px solid #61759e;
}

footer {
  background-color: #414f6b;
  padding: 10px;
}

footer > div.footer-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .logo-image {
  filter: brightness(0.4) contrast(1) sepia(1) hue-rotate(180deg) saturate(1.5);
}

footer .logo-text {
  filter: brightness(2) contrast(1) grayscale(1) sepia(1) hue-rotate(180deg)
    saturate(1.5);
  opacity: 0.4;
}

footer .rights {
  font-family: "Lato";
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  color: #63769d;
  opacity: 1;
}

header > div.header-wrapper > div.menu-button {
  display: none;
}

.visible {
  display: unset !important;
}

@media (max-width: 560px) {
  html {
    scroll-padding-top: calc(43px + 15px + 80px + 4vmin);
  }

  header > div.header-wrapper > div.menu-button {
    display: block;
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    border: 1px solid white;
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    user-select: none;
  }

  header div.menu-button:active {
    background-color: white;
    color: rgba(64, 79, 109, 1);
  }

  header.scrolled > div.header-wrapper > div.menu-button {
    border: 1px solid rgba(64, 79, 109, 1);
  }

  header.scrolled div.menu-button:active {
    background-color: rgba(64, 79, 109, 1);
    color: white;
  }

  header:not(.scrolled) div.menu-button.active {
    background-color: white;
    color: rgba(64, 79, 109, 1);
    /* mix-blend-mode: screen; */
  }

  header.scrolled div.menu-button.active {
    background-color: rgba(64, 79, 109, 1);
    color: white;
  }

  header > div.header-wrapper > nav {
    grid-column: 1 / -1;
    display: none;
    transition: all 1s;
  }

  header > div.header-wrapper {
    /* background-color: blue; */
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr;
    row-gap: 16vmin;
  }

  header > div.header-wrapper.compact {
    row-gap: 4vmin;
  }

  header > div.header-bg {
    background: url(images/banner.png);
    background-size: cover;
    height: 160px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* filter: blur(7px); */
    z-index: -1;
  }

  header > div.header-wrapper > nav > ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 0;
  }

  header > div.header-wrapper > nav > ul > li {
    /* background-color: rgba(64, 79, 109, 1); */
    width: 100%;
    padding: 10px 0;
  }

  div.banner {
    background: url(images/banner.png);
    background-repeat: no-repeat;
    /* padding-top: 95.06%; */
    /* max-height: 10px; */

    background-size: cover;
  }

  div.secondary-banner > div.history-heading-wrapper > div.history-heading {
    justify-content: center;
  }

  div.secondary-banner > div.history-heading-wrapper > p {
    color: black;
    margin-top: -2em;
    text-align: center;
    padding: 0 10px;
  }

  div.climb-heading-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  div.climb-heading-wrapper > p {
    text-align: center;
    padding: 0 10px;
    margin-top: -2em;
  }

  div.carousel-selector {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(103px, 253px));
    place-items: center;
    place-content: center;
  }

  .schedule-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .schedule {
    margin: 0 auto;
  }

  footer > div.footer-wrapper {
    justify-content: center;
    gap: 10px;
  }
}
