.notification-status {
  background-color: dodgerblue;
  color: white;
  display: flex;
  padding: 10px;
  align-items: center;
  animation: appear 0.25s;
  transition: transform 0.25s;
  transform-origin: top;
  position: fixed;
  width: 100%;
  box-shadow: 0 5px 5px rgba(30, 67, 104, 0.5);
}

.notification-status > div {
  flex: 1 1 100%;
  text-align: left;
}

.notification-status button {
  background-color: white;
  color: dodgerblue;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.notification-status button:hover {
  transform: translateY(-5%)
}

.notification-status button:nth-of-type(2) {
  background-color: #ddd;
  color: rgb(67, 118, 168);
}

@keyframes appear {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.notification-status.disappear {
  transform: scaleY(0);
}
