.timers {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  border-top: 1px dashed dodgerblue;
}

.timers h2 {
  color: #333;
}

.timers ul {
  padding: 0;
}

.timers ul li {
  list-style: none;
  opacity: 1;
  animation: appear .5s;
  transition: all .5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timers > .active ul li {
  border: 2px solid dodgerblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}

.timers > .active ul li .event {
  flex: 1;
}

.timers > .active ul li .info > .name {
  font-weight: bold;
  color: dodgerblue;
}

.timers > .active ul li button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  align-self: center;
}

.timers > .active ul li button:hover {
  background-color: orangered;
}

.timers > .expired ul li {
  background-color: rgb(188, 210, 233);
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  border: 2px dashed rgb(100, 125, 155);
}

.timers > .expired button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
}

.timers > .expired button:hover {
  background-color: orangered;
}

.timers ul li.disappear {
  list-style: none;
  opacity: 0;
  transition: all .5s;
}