.timers {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.timers h2 {
  color: #333;
}

.timers ul {
  padding: 0;
}

.timers ul li {
  list-style: none;
  opacity: 1;
  animation: appear 0.5s;
  transition: all 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timers > .active ul li {
  border: 2px solid dodgerblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
}

.timers > .active ul li .event {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.timers > .active ul li .info {
  overflow: hidden;
  flex: 1;
}

.timers > .active ul li .info > .name {
  font-weight: bold;
  color: dodgerblue;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.timers > .active ul li .info > .date {
  font-weight: 600;
}

.timers > .active ul li .countdown {
  white-space: nowrap;
  width: 100%;
  flex: 1 1 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timers > .active ul li .countdown > span {
  font-weight: 600;
}

.timers > .active ul li button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 3px;
  padding: 10px;
  align-self: center;
}

.timers > .active ul li button:hover {
  background-color: orangered;
  transition: background-color 0.2s;
}

.timers > .expired ul li {
  background-color: rgb(188, 210, 233);
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  border: 2px dashed rgb(100, 125, 155);
  animation: appear 0.5s;
  color: rgb(35, 50, 75);
  overflow: auto;
}

.timers > .expired ul li div:first-child {
  font-weight: 600;
  color: rgb(35, 50, 75);
  overflow: hidden;
  text-overflow: ellipsis;
}

.timers > .expired ul li div:nth-child(2) {
  text-align: right;
}

.timers > .expired button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.2s;
}

.timers > .expired button:disabled {
  background-color: rgb(188, 196, 209);
  pointer-events: none;
  cursor: auto;
}

.timers > .expired button:hover {
  background-color: orangered;
}

.timers ul li.disappear {
  list-style: none;
  opacity: 0;
}

.timers ul.disappear {
  list-style: none;
  opacity: 0;
  transition: all 0.5s;
}
