
.icon-search:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
