.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 300px;
  padding: 10px;
}

.app footer {
  margin-top: auto;
  padding: 5px;
}

.app footer a {
  color: dodgerblue;
}